.footer{
    text-align: center;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .ftr-btns div{
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
    }
}
@media  (max-width: 900px) {
    .footer{
        padding-bottom: 100px;
        .ftr-btns div{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
.footer.green{
    background:linear-gradient(#E5FFCC, #E0E0E0);
}
.footer.brown{
    background:linear-gradient(#FFE5CC, #E0E0E0);
}