<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The new marketplace.</title>
    <link rel="stylesheet" href="../static/style/index-style.css">
    <link rel="stylesheet" href="../static/style/fonts.css">
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/index-style.css">
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/order-card.css">
    <link rel="icon" href="../static/logo/icon.png">
    <link rel="stylesheet" href="../static/style/loading-screen.css">
    <link rel="stylesheet" href="../static/style/nav-catalog.css">
    <link rel="stylesheet" href="../static/style/SET-card.css">
    <link rel="stylesheet" href="../static/style/profile-main.css">
    <link rel="stylesheet" href="../static/style/.card.css">
    <link rel="stylesheet" href="../static/style/product_page.css">
</head>
<body id ="body" class="body" style="background-color: #E0E0E0;">
    <div class="navigation-wreaper"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <main class="brown">
        <div class="about-block-1">
            <h1>SET</h1>
            <p id="regular">The shop of everything.</p>
            <button class="black" id="regular" onclick="window.location.href = '/';">Go shopping</button>
        </div>
        <div class="about-block-2">
            <p id="regular">Shop of EveryThing (SET) is a good marketplace of everything. Only high-quality products directly from manufacturers. SET everything!</p>
        </div>
        <div class="about-SET green">
            <h2>SET your wardrobe</h2>
            <div class="about-SET-container about-SET-container-1"></div>
        </div>
        <div class="about-SET">
            <h2>SET your self</h2>
            <div class="about-SET-container about-SET-container-2"></div>
        </div>
        <div class="about-SET green">
            <h2>SET your home</h2>
            <div class="about-SET-container about-SET-container-3"></div>
        </div>
        <div class="about-block-2" style="margin-top: 64px;">
            <p id="regular">Shop of EveryThing is not real marketplace. This project created by Timkut86 for Movavi IT Fest 2026. 
                            Enjoy my beautiful and great marketplace.
                            <br>
                            <br>
                            <a href="https://github.com/timkut86">Timkut86 on GitHub</a>
                            <br>
                            <a href="https://t.me/timkut86">Timkut86 on Telegram</a>
                            <br>
                            <a href="https://github.com/timkut86/SET">Repository</a>
            </p>
        </div>
    </main>

    <!--Cards-->
    </div>
    <div class="footer brown"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <div id="loading-screen"><h1>SET</h1></div>
    <div class="nav-mobile"></div>
    <!--JS-->
    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/AWESOME.js"></script>
    <script src="../static/js/nav-catalog.js"></script>
    <script src="../static/js/main-ads-buttons.js"></script>
    <script src="../static/js/managing-cards.js"></script>
    <script src="../static/js/managing-footer.js"></script>
    <script src="../static/js/loading-screen.js"></script>
</body>
</html>