<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="site-title">SET</title>
    <link rel="stylesheet" href="../static/style/fonts.css">
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/index-style.css">
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/order-card.css">
    <link rel="icon" href="../static/logo/icon.png">
    <link rel="stylesheet" href="../static/style/loading-screen.css">
    <link rel="stylesheet" href="../static/style/nav-catalog.css">
    <link rel="stylesheet" href="../static/style/SET-card.css">
    <link rel="stylesheet" href="../static/style/profile-main.css">
    <link rel="stylesheet" href="../static/style/.card.css">
    <meta name="title" content="SET - The Shop of Everything">
    <meta name="description" content="Shop of EveryThing (SET) is a good marketplace of everything. Only high-quality products directly from manufacturers. SET everything!">
</head>
<body id ="body" class="body" style="background-color: #E0E0E0;">
    <div class="navigation-wreaper"></div>
    <div class="title" style="position: absolute;">
        <h2>SET everything!</h2>
    </div>
    <main class="brown">
        <h2 id="titlee">SET everything!</h2>
        <div class="pad"></div>
        <div class="ads">
            <div class="ad-block" id="main-ad-1">
                <div class="ad" onclick="window.location.href = '/product?id=Apple_Macbook_Neo';">
                    <img src="../static/Products/Apple_Macbook_Neo/Apple_Macbook_Neo_img1.png" alt="Mackbook Neo">
                    <p id="regular">Mackbook Neo</p>
                    <button class="black" id="regular" onclick="window.location.href = '/product?id=Apple_Macbook_Neo';">Buy</button>
                </div>
            </div>
            <div class="ad-block" id="main-ad-2">
                <div class="ad" onclick="window.location.href = 'https://t.me/timkut86';">
                    <img src="../static/icons/tk.jpg" alt="Mackbook Neo">
                    <p id="regular">Subscribe!</p>
                    <button class="black" id="regular" onclick="window.location.href = 'https://t.me/timkut86';">Go</button>
                </div>
            </div>
            <div class="ad-block" id="main-ad-3">
                <div class="ad" onclick="window.location.href = 'about';">
                    <h5>Visit "about" page!!!</h5>
                    <p id="regular">Important information</p>
                    <button class="black" id="regular" onclick="window.location.href = 'about';">Visit</button>
                </div>
            </div>
            <div class="ad-block" id="main-ad-4">
                <div class="ad" onclick="window.location.href = 'products';">
                    <div class="ad4-photos">
                        <img src="../static/Products/IKEA_SKOGSTA/IKEA_SKOGSTA_img1.png" alt="">
                        <img src="../static/Products/IKEA_NEIDEN/IKEA_NEIDEN_img1.png" alt="">
                        <img src="../static/Products/IKEA_JÄTTEBO/IKEA_JÄTTEBO_img1.png" alt="">
                    </div>
                    <h5>It's the discount on the furniture!</h5>
                    <button class="black" id="regular" onclick="window.location.href = 'products';">Let's SET it!</button>
                </div>
            </div>
            <div class="ad-block" id="main-ad-5" onclick="window.location.href = 'products';">
                <div class="ad">
                    <img src="../static/Backgrounds/Ads/samsung.png" alt="Samsung">
                    <h5>Hurry up! There are big discounts on Samsung products!</h5>
                    <button class="black" id="regular" onclick="window.location.href = 'products';">Let's SET it!</button>
                </div>
            </div>
        </div>
        <div class="ads-buttons">
            <button class="black" id="main-ads-slide-button-back"><</button>
            <button class="black" id="main-ads-slide-button-next">></button>
        </div>
        <div class="cardss"></div>
        <div class="footer brown" style="transform: translateY(66px);"></div>
    </main>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <div id="loading-screen">
        <h1>SET</h1>
    </div>
    <div class="nav-mobile"></div>
    <div class="ad" id="ad" style="display: flex; width: 300px; height: 300px; position: fixed;"></div>
    <!--JS-->
    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/mainbtn.js"></script>
    <script src="../static/js/managing-card.js"></script>
    <script src="../static/js/main-ads-buttons.js"></script>
    <!--<script src="../static/js/managing-cards.js"></script>-->
    <script src="../static/js/managing-footer.js"></script>
    <script src="../static/js/AWESOME.js"></script>
    <script src="../static/js/loading-screen.js"></script>
    <script src="../static/js/check.js" defer></script>
</body>
</html>