<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications - SET</title>
    <link rel="stylesheet" href="../static/style/fonts.css">
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/index-style.css">
    <link rel="stylesheet" href="../static/style/profile-main.css">
    <link rel="stylesheet" href="../static/style/.card.css">
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/order-card.css">
    <link rel="icon" href="../static/logo/icon.png">
    <link rel="stylesheet" href="../static/style/loading-screen.css">
    <link rel="stylesheet" href="../static/style/nav-catalog.css">
    <link rel="stylesheet" href="../static/style/SET-card.css">
    <link rel="stylesheet" href="../static/style/notifications.css">
</head>
<body id ="body" class="body" style="background-color: #E0E0E0;">
    <div class="navigation-wreaper"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <div class="title">
        <h2>Notifications</h2>
    </div>
    <main class="green" style="min-height: 70vh; justify-content: flex-start;">
        <div class="pad"></div>
        <h2 id="titlee">Notifications</h2>
        <div class="not_container">
            <div class="notification">
                <div>
                    <p id="Limelight">
                        We're delivering your order.
                    </p>
                    <p id="regular">
                    </p>
                </div>
                <p id="light">1d</p>
            </div>
            <div class="notification">
                <div>
                    <p id="Limelight">
                        We've delivered your order.
                    </p>
                    <p id="regular">
                    </p>
                </div>
                <p id="light">4d</p>
            </div>
            <div class="notification">
                <div>
                    <p id="Limelight">
                        Your SET-Card.
                    </p>
                    <p id="regular">
                        You have 885$
                    </p>
                </div>
                <p id="light">1w</p>
            </div>
            <div class="notification">
                <div>
                    <p id="Limelight">
                        We've delivered your order.
                    </p>
                    <p id="regular">
                    </p>
                </div>
                <p id="light">2w</p>
            </div>
            <div class="notification">
                <div>
                    <p id="Limelight">
                        Your SET-Card.
                    </p>
                    <p id="regular">
                        You have 2000$
                    </p>
                </div>
                <p id="light">3w</p>
            </div>
            <div class="notification">
                <div>
                    <p id="Limelight">
                        Welcome to the SET store!
                    </p>
                    <p id="regular">
                        Start shopping now.
                    </p>
                </div>
                <p id="light">4w</p>
            </div>
        </div>
    </main>
    <div class="green footer"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <div id="loading-screen"><h1>SET</h1></div>
    <div class="nav-mobile"></div>
    <!--JS-->
    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/nav-catalog.js"></script>
    <script src="../static/js/main-ads-buttons.js"></script>
    <script src="../static/js/AWESOME.js"></script>
    <script src="../static/js/managing-footer.js"></script>
    <script src="../static/js/loading-screen.js"></script>
</body>
</html>