<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders - SET</title>
    <link rel="stylesheet" href="../static/style/fonts.css">
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/index-style.css">
    <link rel="stylesheet" href="../static/style/profile-main.css">
    <link rel="stylesheet" href="../static/style/.card.css">
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="icon" href="../static/logo/icon.png">
    <link rel="stylesheet" href="../static/style/loading-screen.css">
    <link rel="stylesheet" href="../static/style/nav-catalog.css">
    <link rel="stylesheet" href="../static/style/SET-card.css">
    <link rel="stylesheet" href="../static/style/orders.css">
</head>
<body id ="body" class="body" style="background-color: #E0E0E0;">
    <div class="navigation-wreaper"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <div class="title">
        <h2>Orders</h2>
    </div>
    <main class="green" style="min-height: 70vh; justify-content: flex-start;">
        <div class="pad"></div>
        <h2 id="titlee">Orders</h2>
        <div class="orders-container">
            <div class="order">
                <div class="order-text">
                    <p id="limelight">06/21/2026</p>
                    <p id="regular">In the way</p>
                </div>
                <div class="order-photos">
                    <img src="../static/Products/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro_img1.png" alt="p1" class="order-photo">
                    <img src="../static/Products/Lego_DC_Arkham_Asylum/Lego_DC_Arkham_Asylum_img1.png" alt="p2" class="order-photo">
                    <img src="../static/Products/Movavi_School_Dino_Cap/Movavi_School_Dino_Cap_img1.png" alt="p3" class="order-photo">
                    <img src="../static/Products/sony_playstation_5/sony_playstation_5_img1.png" alt="p4" class="order-photo">
                </div>
                <div class="o-a"><img src="../static/icons/Dark/Map pin.svg"><p id="regular">4 Pirogov Street, Novosibirsk, Russia</p></div>
            </div>
            <div class="order">
                <div class="order-text">
                    <p id="limelight">06/21/2026</p>
                    <p id="regular">In the way</p>
                </div>
                <div class="order-photos">
                    <img src="../static/Products/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro_img1.png" alt="p1" class="order-photo">
                    <img src="../static/Products/Lego_DC_Arkham_Asylum/Lego_DC_Arkham_Asylum_img1.png" alt="p2" class="order-photo">
                    <img src="../static/Products/Movavi_School_Dino_Cap/Movavi_School_Dino_Cap_img1.png" alt="p3" class="order-photo">
                    <img src="../static/Products/sony_playstation_5/sony_playstation_5_img1.png" alt="p4" class="order-photo">
                </div>
                <div class="o-a"><img src="../static/icons/Dark/Map pin.svg"><p id="regular">4 Pirogov Street, Novosibirsk, Russia</p></div>
            </div>
            <div class="order">
                <div class="order-text">
                    <p id="limelight">06/21/2026</p>
                    <p id="regular">In the way</p>
                </div>
                <div class="order-photos">
                    <img src="../static/Products/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro_img1.png" alt="p1" class="order-photo">
                    <img src="../static/Products/Lego_DC_Arkham_Asylum/Lego_DC_Arkham_Asylum_img1.png" alt="p2" class="order-photo">
                    <img src="../static/Products/Movavi_School_Dino_Cap/Movavi_School_Dino_Cap_img1.png" alt="p3" class="order-photo">
                    <img src="../static/Products/sony_playstation_5/sony_playstation_5_img1.png" alt="p4" class="order-photo">
                </div>
                <div class="o-a"><img src="../static/icons/Dark/Map pin.svg"><p id="regular">4 Pirogov Street, Novosibirsk, Russia</p></div>
            </div>
            <div class="order">
                <div class="order-text">
                    <p id="limelight">06/21/2026</p>
                    <p id="regular">In the way</p>
                </div>
                <div class="order-photos">
                    <img src="../static/Products/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro/Adidas_Tennis_Climacool_Freelift_T-Shirt_Pro_img1.png" alt="p1" class="order-photo">
                    <img src="../static/Products/Lego_DC_Arkham_Asylum/Lego_DC_Arkham_Asylum_img1.png" alt="p2" class="order-photo">
                    <img src="../static/Products/Movavi_School_Dino_Cap/Movavi_School_Dino_Cap_img1.png" alt="p3" class="order-photo">
                    <img src="../static/Products/sony_playstation_5/sony_playstation_5_img1.png" alt="p4" class="order-photo">
                </div>
                <div class="o-a"><img src="../static/icons/Dark/Map pin.svg"><p id="regular">4 Pirogov Street, Novosibirsk, Russia</p></div>
            </div>
        </div>
    </main>
    <div class="green footer"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <div id="loading-screen"><h1>SET</h1></div>
    <div class="nav-mobile"></div>
    <!--JS-->
    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/nav-catalog.js"></script>
    <script src="../static/js/main-ads-buttons.js"></script>
    <script src="../static/js/managing-cards.js"></script>
    <script src="../static/js/managing-footer.js"></script>
    <script src="../static/js/loading-screen.js"></script>
</body>
</html>