<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SET</title>
    <link rel="stylesheet" href="../static/style/fonts.css">
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="stylesheet" href="../static/style/nav.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/index-style.css">
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/order-card.css">
    <link rel="icon" href="../static/logo/icon.png">
    <link rel="stylesheet" href="../static/style/loading-screen.css">
    <link rel="stylesheet" href="../static/style/nav-catalog.css">
    <link rel="stylesheet" href="../static/style/SET-card.css">
    <link rel="stylesheet" href="../static/style/profile-main.css">
    <link rel="stylesheet" href="../static/style/.card.css">
</head>
<body id ="body" class="body" style="background-color: #E0E0E0;">
    <div class="navigation-wreaper"></div>
    <div class="nav-catalog green" id="nav-catalog"></div>
    <main class="brown products">
        <div class="filters" id="filters">
            <button class="black" id="filters_choose_all">Choose all</button>
            <button class="black" id="filters_clear_all">Clear all</button>
            <div class="filters-block">
                <h3>Sports</h3>
                <button class="filter" id="filt1">
                    <div class="checkbox"></div>
                    <p id="regular">Balls games</p>
                </button>
                <button class="filter" id="filt2">
                    <div class="checkbox"></div>
                    <p id="regular">Fittnes</p>
                </button>
                <button class="filter" id="filt3">
                    <div class="checkbox"></div>
                    <p id="regular">Running</p>
                </button>
                <button class="filter" id="filt4">
                    <div class="checkbox"></div>
                    <p id="regular">Swimming</p>
                </button>
                <button class="filter" id="filt5">
                    <div class="checkbox"></div>
                    <p id="regular">Sport costumes</p>
                </button>
                <button class="filter" id="filt6">
                    <div class="checkbox"></div>
                    <p id="regular">Winter sports</p>
                </button>
                <button class="filter" id="filt7">
                    <div class="checkbox"></div>
                    <p id="regular">Sport nutrition</p>
                </button>
                <button class="filter" id="filt8">
                    <div class="checkbox"></div>
                    <p id="regular">Transport</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Techniques</h3>
                <button class="filter" id="filt9">
                    <div class="checkbox"></div>
                    <p id="regular">Fridges</p>
                </button>
                <button class="filter" id="filt10">
                    <div class="checkbox"></div>
                    <p id="regular">Devices</p>
                </button>
                <button class="filter" id="filt11">
                    <div class="checkbox"></div>
                    <p id="regular">Watches</p>
                </button>
                <button class="filter" id="filt12">
                    <div class="checkbox"></div>
                    <p id="regular">Computers</p>
                </button>
                <button class="filter" id="filt13">
                    <div class="checkbox"></div>
                    <p id="regular">TVs</p>
                </button>
                <button class="filter" id="filt14">
                    <div class="checkbox"></div>
                    <p id="regular">Consoles</p>
                </button>
                <button class="filter" id="filt15">
                    <div class="checkbox"></div>
                    <p id="regular">Accessories</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Cosmetics</h3>
                <button class="filter" id="filt16">
                    <div class="checkbox"></div>
                    <p id="regular">Accessories</p>
                </button>
                <button class="filter" id="filt17">
                    <div class="checkbox"></div>
                    <p id="regular">Men</p>
                </button>
                <button class="filter" id="filt18">
                    <div class="checkbox"></div>
                    <p id="regular">Women</p>
                </button>
                <button class="filter" id="filt19">
                    <div class="checkbox"></div>
                    <p id="regular">Makeup</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Toys</h3>
                <button class="filter" id="filt20">
                    <div class="checkbox"></div>
                    <p id="regular">Board games</p>
                </button>
                <button class="filter" id="filt21">
                    <div class="checkbox"></div>
                    <p id="regular">Transport</p>
                </button>
                <button class="filter" id="filt22">
                    <div class="checkbox"></div>
                    <p id="regular">Constructors</p>
                </button>
                <button class="filter" id="filt23">
                    <div class="checkbox"></div>
                    <p id="regular">LEGO ©</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Furniture</h3>
                <button class="filter" id="filt24">
                    <div class="checkbox"></div>
                    <p id="regular">Sofas</p>
                </button>
                <button class="filter" id="filt25">
                    <div class="checkbox"></div>
                    <p id="regular">Beds</p>
                </button>
                <button class="filter" id="filt26">
                    <div class="checkbox"></div>
                    <p id="regular">Curtains</p>
                </button>
                <button class="filter" id="filt27">
                    <div class="checkbox"></div>
                    <p id="regular">Chairs</p>
                </button>
                <button class="filter" id="filt28">
                    <div class="checkbox"></div>
                    <p id="regular">Tables</p>
                </button>
                <button class="filter" id="filt29">
                    <div class="checkbox"></div>
                    <p id="regular">Clocks</p>
                </button>
                <button class="filter" id="filt30">
                    <div class="checkbox"></div>
                    <p id="regular">Decorations</p>
                </button>
                <button class="filter" id="filt31">
                    <div class="checkbox"></div>
                    <p id="regular">Lamps</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Clothes</h3>
                <button class="filter" id="filt32">
                    <div class="checkbox"></div>
                    <p id="regular">Pants</p>
                </button>
                <button class="filter" id="filt33">
                    <div class="checkbox"></div>
                    <p id="regular">T-Shirts</p>
                </button>
                <button class="filter" id="filt34">
                    <div class="checkbox"></div>
                    <p id="regular">Shoes</p>
                </button>
                <button class="filter" id="filt35">
                    <div class="checkbox"></div>
                    <p id="regular">Caps</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Books</h3>
                <button class="filter" id="filt36">
                    <div class="checkbox"></div>
                    <p id="regular">Russian authors</p>
                </button>
                <button class="filter" id="filt37">
                    <div class="checkbox"></div>
                    <p id="regular">Japanese authors</p>
                </button>
                <button class="filter" id="filt38">
                    <div class="checkbox"></div>
                    <p id="regular">Comics</p>
                </button>
                <button class="filter" id="filt39">
                    <div class="checkbox"></div>
                    <p id="regular">Other</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Bags</h3>
                <button class="filter" id="filt40">
                    <div class="checkbox"></div>
                    <p id="regular">Wallets</p>
                </button>
                <button class="filter" id="filt41">
                    <div class="checkbox"></div>
                    <p id="regular">Bags</p>
                </button>
                <button class="filter" id="filt42">
                    <div class="checkbox"></div>
                    <p id="regular">Backpacks</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Hiking</h3>
                <button class="filter" id="filt43">
                    <div class="checkbox"></div>
                    <p id="regular">Tents</p>
                </button>
                <button class="filter" id="filt44">
                    <div class="checkbox"></div>
                    <p id="regular">Pumps</p>
                </button>
                <button class="filter" id="filt45">
                    <div class="checkbox"></div>
                    <p id="regular">Sleeping bags</p>
                </button>
            </div>
            <div class="filters-block">
                <h3>Health</h3>
                <button class="filter" id="filt46">
                    <div class="checkbox"></div>
                    <p id="regular">Medical equipment</p>
                </button>
                <button class="filter" id="filt47">
                    <div class="checkbox"></div>
                    <p id="regular">Optics</p>
                </button>
                <button class="filter" id="filt48">
                    <div class="checkbox"></div>
                    <p id="regular">Other</p>
                </button>
            </div>
        </div>
        <div class="products-block-container"></div>
    </main>
    <div class="title">
        <button class="title_button" id="tb1"><img src="../static/icons/Light/List.svg"></button>
        <h2>Products</h2>
        <button class="title_button" id="tb2"><img src="../static/icons/Light/Settings.svg"></button>
    </div>
    <div class="brown footer" style="transform: translateY(0px);"></div>
    <div id="loading-screen">
        <h1>SET</h1>
    </div>
    <div class="nav-mobile"></div>
    <!--JS-->
    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/title.js"></script>
    <script src="../static/js/nav-catalog.js"></script>
    <script src="../static/js/managing-card.js"></script>
    <script src="../static/js/main-ads-buttons.js"></script>
    <!--<script src="../static/js/managing-cards.js"></script>-->
    <script src="../static/js/managing-footer.js"></script>
    <script src="../static/js/AWESOME.js"></script>
    <script src="../static/js/products-filters.js"></script>
    <script src="../static/js/loading-screen.js"></script>
</body>
</html>